.home
    height: 60vh
    width: 100vw
    background-color: rgb(59,35,51)
    &__logo
        margin: 0
        padding: 0
        margin: auto
        > img
            display: block
            margin: auto
